<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/defaultTemplate">

<head>
	<meta charset="ISO-8859-1">
	<title>Delete Product</title>
</head>

<body>
	<div layout:fragment="content">
		<form action="#" th:action="@{/doDeleteProduct}" th:object="${productModel}" method="post">
			<table>
				<tr>
					<td>Product ID :</td>
					<td><input type="text" th:field="*{id}"></td>
					<td>
						<h5 style="color:red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">
							Product ID Error</h5>
					</td>
				</tr>
				<tr>
					<td colspan="3"><input type="submit" value="Submit"></td>
				</tr>
			</table>
		</form>
	</div>
</body>

</html>