<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="layouts/defaultTemplate">
<head>
<meta charset="ISO-8859-1">
<title>Register Page</title>
</head>
<body>
	<div layout:fragment="content">
		<form action ="#" th:action="@{doRegister}" th:object="${userModel}" method="post">
			<table>
				<tr>
					<td>First Name:</td><td><input type="text" th:field="*{firstname}"></td>
					<td><h5 style="color:red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">First Name Error</h5></td>
				</tr>
				<tr>
					<td>Last Name:</td><td><input type="text" th:field="*{lastname}"></td>
					<td><h5 style="color:red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Last Name Error</h5></td>
				</tr>
				<tr>
					<td>Username:</td><td><input type="text" th:field="*{username}"></td>
					<td><h5 style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">User Name Error</h5></td>
				</tr>
				<tr>
					<td>Password :</td><td><input type="password" th:field="*{password}"></td>
					<td><h5 style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</h5></td>
				</tr>
				<tr>
					<td>Email :</td><td><input type="email" th:field="*{email}"></td>
					<td><h5 style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</h5></td>
				</tr>
				<tr>
					<td>Phone Number:</td><td><input type="text" th:field="*{phonenumber}"></td>
					<td><h5 style="color:red" th:if="${#fields.hasErrors('phonenumber')}" th:errors="*{phonenumber}">Phone Number Error</h5></td>
				</tr>
				<tr>
					<td colspan="3"><input type="submit" value="Submit"></td>
				</tr>
			</table>
			<div th:if="${#fields.hasErrors('*')}">List of Errors</div>
			<div th:each="err : ${#fields.errors('*')}">
				<span style="color:red" th:text="${err}" class="fieldError"></span>
			</div>
		</form>
	</div>
</html>